# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c13f6a3bc2ee697000b1b27122cde231688bfa6497c33b6945405ebc96510cb84c75aa2d957e8ded6852129958424b8622b8afb5b2de82e4ba47a5035f858dae

test:
  secret_key_base: 24ffd3f1a3c84a455206910970dd9a7f54f55b35c4fe317260ae560933b1cdb106bbe85ed703f8aa1d08541dea9cae8b95c156eef92101eace069615a3126fbd

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
